/* This file describes the formatting of the website. */

/* Uniform colors and geometry, used throughout the whole page. */
:root {
    --bg-color: black;
    --menu-bg-color: #333333;
    --menu-bg-hover-color: #AAAAAA;
    --fg-color: ivory;
    --emphasis-color: red;
    --shaded-color: ivory;
    --link-color: #87CEEB;
    --side-menu-width: 15ch;
}

/* Formatting for the main part of the website. */
body {
    background: var(--bg-color);
    color: var(--fg-color);
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--side-menu-width) + 30px);
    padding-right: 2ch;
    padding-top: 3ch;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* Some universal formatting elements. */

/* Hyperlink colors */
a {
    color: var(--link-color);
}

/* level-2 heading (section headings) */
h2 {
    border-bottom: 1px solid var(--shaded-color);
}

/* emphasized text */
em {
    font-style: normal;
    background: var(--emphasis-color);
    border-radius: 5px;
    padding: 0px 1px 1px 0px;
    color: var(--fg-color);
}

/* website section ("page") text */
section {
    max-width: 80ch; /* I think the max recommended widht is 80 symbols
                  * (for reading convenience). */
    position: relative;
    text-align: justify;
    box-sizing: border-box;
}

section:not(.same-screen) {
    min-height: 100vh;
}

img {
    width: 80%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* tables */
td {
    padding-right: 15px;
}

table {
    /* the following two lines center the table */
    margin-left: auto;
    margin-right: auto;
}
/* Formatting for the navigation elements,
 * aka website menu magic
*/

/* parameters that are independent of the screen size */
nav {
    opacity: 0.9;
    background: var(--menu-bg-color);
    overflow: scroll;
}

nav:hover {
    opacity: 0.95;
}

input[name='checkbox'] {
    display: none;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    color: var(--fg-color) !important;
}

nav ul {
    list-style-type: none;
    text-align: center;
}
nav li {
    align: center;
}

nav li:hover {
    background: var(--menu-bg-hover-color) !important;
}

/* menu formatting for the case when the screen
 * is too small (e.g., mobile phone) */

@media only screen and (max-width:600px) {
    .hide-when-small {
        display:none;
    }

    nav img {
        display: none;
    }

    body {
        padding-left: 1ch;
        padding-right: 1ch;
    }

    input[name='checkbox']:not(checked) ~ ul {
        height: 0;
        margin: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        overflow: hidden;
        transition: all 0.1s;
    }

    input[name='checkbox']:checked ~ ul {
        display: inline-block;
        height: 100%;
        padding-left: 5px;
        transition: all 1s;
    }

    nav {
        position: fixed;
        position: -webkit-sticky; /* Safari */
        left: 0;
        top: 0;
        padding-top: 5px;
        background: var(--menu-bg-color);
        width: 100%;
        overflow: hidden;
        z-index: 1;
        text-align: center;
    }

    nav ul {
        width: 100%;
        padding-top: 1ch;
        display: flex;
        flex-wrap: wrap;
    }

    nav li {
        width: 30vw;
        display: inline-block;
        margin-top: 1ch;
        padding: 5px 10px;
    }

    nav a {
        margin-bottom: 10px;
        color: var(--fg-color);
    }

    .menu-topline {
        width: 100vw;
        display: inline-block;
    }
}

/* Menu formatting for the case when the screen
 * is large enough (e.g., laptop or tablet) */

@media only screen and (min-width:601px) {
    nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: var(--side-menu-width);
    }

    nav img {
        max-width: calc(var(--side-menu-width) - 10px);
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 0px;
    }

    nav ul {
        font-weight: 500;
        white-space: nowrap;
        position: relative;
        padding-left: 0;
        align-items: center;
    }

    nav a {
        display: flex;
    }

    .menu-topline {
        display: none;
    }
}
